<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.478832614549-fun4u6ep0fcv0dp8on6pd73fnaagdal5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>478832614549-fun4u6ep0fcv0dp8on6pd73fnaagdal5.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>IngrediCheck uses the camera to scan product barcodes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>IngrediCheck uses your photo library to let you select product images for scanning.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
